// Place template instantiations here.
{% set ns=namespace(processes='') %}
{% for actorName, actorObj in actorMap.items() %}
{% if loop.first %}
{% set ns.processes ='' %}
{% endif %}
{% for compVal in actorObj.comps %}
{% for host in actorObj.target %}
{{host}}_{{actorName}}_{{compVal.inst}} = {{compVal.type}}({% for templateKey, argString in templateArgs.items() if templateKey == host~'_'~actorName~'_'~compVal.inst %}{{argString}}{% endfor %});
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst %}
{% for compName, portData in compInfo.items() if compName == compVal.type %}
{% for portName, portAttr in portData.ports.items() %}
{% if portAttr.type == 'sub' %}
{% if portAttr.msgscope == 'local' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = subscribe_port({{host}}_{{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% else %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = subscribe_port({{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% endif %}
{% set ns.processes = ns.processes ~ ',' ~ host ~ '_' ~ actorName ~ '_' ~ compVal.inst ~ '_' ~ portName %}
{% elif portAttr.type == 'req' %}
{% if portAttr.msgscope == 'local' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = request_port({{host}}_{{portAttr.msgtype[1]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% else %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = request_port({{portAttr.msgtype[1]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% endif %}
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'_'~portName %}
{% elif portAttr.type == 'rep' %}
{% if portAttr.msgscope == 'local' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = reply_port({{host}}_{{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% else %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = reply_port({{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% endif %}
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'_'~portName %}
{% elif portAttr.type == 'qry' %}
{% if portAttr.msgscope == 'local' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = query_port({{host}}_{{portAttr.msgtype[1]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% else %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = query_port({{portAttr.msgtype[1]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% endif %}
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'_'~portName %}
{% elif portAttr.type == 'ans' %}
{% if portAttr.msgscope == 'local' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = answer_port({{host}}_{{portAttr.msgtype[0]}}_identity,{{host}}_{{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% else %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = answer_port({{host}}_{{portAttr.msgtype[0]}}_identity,{{portAttr.msgtype[0]}}_channel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q);
{% endif %}
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'_'~portName %}
{% elif portAttr.type == 'tim' %}
{{host}}_{{actorName}}_{{compVal.inst}}_{{portName}} = timer_port({{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_activate, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_deactivate, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_start, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_cancel, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_terminate, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_setDelay, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_q, {{host}}_{{actorName}}_{{compVal.inst}}_{{portName}}_delay, {{portAttr.period}}, {% if portAttr.timertype == 'periodic' %}true, true, true {% else %}false, false, false {% endif %},{{portAttr.period}});
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'_'~portName %}
{% endif %}
{% endfor %}
{% endfor %}
{{host}}_{{actorName}}_{{compVal.inst}}Scheduler = batchscheduler_{{compVal.type}}({% for templateKey, argString in schedArgs.items() if templateKey == host~'_'~actorName~'_'~compVal.inst~'Scheduler' %}{{argString}}{% endfor %});
{% set ns.processes = ns.processes ~ ',' ~ host~'_'~actorName~'_'~compVal.inst~'Scheduler' %}
{% endfor %}
{% endfor %}
{% endfor %}
{#
{% for compName, portData in compInfo.items() %}
{{compName}}Component = {{compName}}({{compName}}_socket);
{% if loop.first %}
{% set ns.processes = compName ~ 'Component' %}
{% else %}
{% set ns.processes = ns.processes ~ ',' ~ compName ~ 'Component' %}
{% endif %}
{% for portName, portAttr in portData.ports.items() %}
{% if portAttr.type == 'sub' %}
{{compName}}_{{portName}} = subscribe_port({{portAttr.msgtype[0]}}_channel, {{compName}}_{{portName}}_q);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% elif portAttr.type == 'req' %}
{{compName}}_{{portName}} = request_port({{portAttr.msgtype[1]}}_channel, {{compName}}_{{portName}}_q);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% elif portAttr.type == 'rep' %}
{{compName}}_{{portName}} = reply_port({{portAttr.msgtype[0]}}_channel, {{compName}}_{{portName}}_q);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% elif portAttr.type == 'qry' %}
{{compName}}_{{portName}} = query_port({{portAttr.msgtype[1]}}_channel, {{compName}}_{{portName}}_q);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% elif portAttr.type == 'ans' %}
{{compName}}_{{portName}} = answer_port({{portAttr.msgtype[0]}}_channel, {{compName}}_{{portName}}_q);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% elif portAttr.type == 'tim' %}
{{compName}}_{{portName}} = timer_port({{compName}}_{{portName}}_activate, {{compName}}_{{portName}}_deactivate, {{compName}}_{{portName}}_start, {{compName}}_{{portName}}_cancel, {{compName}}_{{portName}}_terminate, {{compName}}_{{portName}}_setDelay, {{compName}}_{{portName}}_q, {{compName}}_{{portName}}_delay, {{portAttr.period}}, {% if portAttr.timertype == 'periodic' %}true, true, true {% else %}false, false, false {% endif %},{{portAttr.period}});
{% set ns.processes = ns.processes ~ ',' ~ compName ~ '_' ~ portName %}
{% endif %}
{% endfor %}
{{compName}}Scheduler = batchscheduler_{{compName}}({{compName}}_sockets, {{compName}}_socket);
{% set ns.processes = ns.processes ~ ',' ~ compName ~ 'Scheduler' %}
{% endfor %}
#}
TransitionHelper = urgent_edge();
// List one or more processes to be composed into a system.
system {{ns.processes}},TransitionHelper;